body {
	font-family: consolas, calibri;
	font-size: 18px;
	color: white;
	background-color: rgb(51,51,51);
	margin: 8px 0px;
}

p {
	margin: 16px;
}

img {
	margin: 0 auto;
	display: block;
	max-height: 400px;
}

.main {
	border: 1px solid rgb(82,230,82);
	text-align: left;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 400px;
}

header {
	background-color: rgb(82,230,82);
}

h1 {
	color: white;
	display: inline-block;
}

h2 {
	text-decoration: underline;
}

h1, h2, h3 {
	margin: 0px;
	padding: 8px 16px;
}

a {
	text-decoration: none;
	color: white;
	transition: 0.2s ease-in-out;
}

.lnk {
	position: fixed;
	width: 8%;
	top: 66px;
	left: 2%;
	border: 1px solid rgb(82,230,82);
	border-right: 0;
	overflow: hidden;
}

.lnk > a {
	padding: 16px;
	display: block;
}

.lnk > a:hover {
	background-color: rgb(82,230,82);
}

.gr {
	border-bottom: 3px solid orange;
}

.gr:hover {
	background-color: orange;
}

table {
	margin: 16px auto;
}

table, tr, td {
	border: 1px solid rgb(82,230,82);
	border-collapse: collapse;
	transition: 0.2s ease-in-out;
}

td {
	padding: 8px;
}

tr ~ tr > td:hover {
	background-color: rgb(82,230,82);
	color: black;
}

tr ~ tr:hover {
	background-color: rgb(66, 140, 66);
}
