body {
	font-family: consolas, calibri;
	font-size: 18px;
	color: white;
	background-color: rgb(20,20,20);
	margin: 8px 0px;
}

p {
	margin: 8px 16px;
}

.main {
	border: 1px solid rgb(50,255,50);
	text-align: left;
	width: 80%;
	margin-left: 10%;
}

.bar {
	float: left;
}

header {
	background-color: rgb(50,255,50);
}

h1 {
	color: white;
	margin: 0px;
	padding: 8px;
	display: inline-block;
}

a {
	text-decoration: none;
	color: white;
	border-bottom: 3px solid orange;
	transition: 0.2s ease-in-out;
}

a:hover {
	background-color: orange;
}

table {
	margin: 16px;
}

table, tr, td {
	border: 1px solid rgb(50,255,50);
	border-collapse: collapse;
}

td {
	padding: 8px;
	transition: 0.2s ease-in-out;
}

td:hover {
	background-color: rgb(50,255,50);
	color: black;
}
